= stylesheet_link_tag    'pdf/expense', media: 'all'
input.no_print type="button" value="このページを印刷する" onclick="window.print();"
= render 'pdf/expense', title: '交通費', expense_approval: @expense_approval, expenses: @routing_expenses if @routing_expenses.present?
= render 'pdf/expense', title: 'その他', expense_approval: @expense_approval, expenses: @other_expenses   if @other_expenses.present?
