@mixin btn--default {
  background-color: $white;
  border: solid 2px $action-color;
  color: $black;

  &:hover,
  &:focus {
    border: solid 2px $active-action-color;
    background-color: $active-action-color;
    color: $white;
  }
}

// 暫定的にbtn--defaultと同じstyle
@mixin btn--primary {
  background-color: $white;
  border: solid 2px $action-color;
  color: $black;

  &:hover,
  &:focus {
    border: solid 2px $active-action-color;
    background-color: $active-action-color;
    color: $white;
  }
}
