$all-button-inputs: all_button_inputs;

.#{$all-button-inputs},
button,
a[type=button] {
  @include appearance(none);
  @include transition(all .2s ease-out);
  @include user-select(none);

  display: inline-block;

  border-radius: $base-border-radius;

  cursor: pointer;

  padding: .6em 2em;

  vertical-align: middle;

  text-decoration: none;

  line-height: 1;
  white-space: nowrap;

  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;

  &:disabled {
    @include user-select(not-allowed);
    opacity: .5;
  }
}
