.bill_pdf {
  padding: 3rem;
  line-height: 1.2rem;
  font-family: sans-serif;
  font-size: .8rem;
}

.bill_pdf__header--today {
  text-align: right;
}

.bill_pdf__header--billing_company_name {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: bold;
}

.bill_pdf__header__cuon {
  float: left;
  margin: 0 1rem 0 15rem;
}

.bill_pdf__header__cuon__item,
.bill_pdf__header__cuon .bill_pdf__header__cuon__item--bill_cd {
  margin-left: 1rem;
  text-align: right;
}

.bill_pdf__header__cuon__item--bill_cd {
  border-bottom: solid 1px;
}

.bill_pdf__header__cuon__accept--project_no {
  margin-left: 29rem;
  border-bottom: solid 1px;
  padding-right: 1rem;
  text-align: right;
}

.bill_pdf__header__company_seal {
  padding-top: 1rem;
  height: 8rem;
}

.bill_pdf__header--accept {
  padding-top: 5rem;
}

.bill_pdf__body__title,
.bill_pdf__body .bill_pdf__body__title--accept {
  text-align: center;
  letter-spacing: 1px;
}

.bill_pdf__body__title--accept {
  margin-top: 3rem;
}

.bill_pdf__body__subject {
  margin: 1rem 0;
  border-bottom: solid 1px;
  padding: 0 .5rem;
  width: 80%;
}

.bill_pdf__body__subject--title {
  float: left;
  width: 6rem;
  letter-spacing: 1px;
}

.bill_pdf__body__subject--project_name {
  margin-left: 2rem;
}

.bill_pdf__body__price {
  border-bottom: double;
  padding: 0 .5rem;
  width: 30%;
}

.bill_pdf__body__price--title {
  float: left;
  width: 6rem;
}

.bill_pdf__body__price--subject {
  text-align: right;
}

.bill_pdf__tbl {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
  font-size: .6rem;
}

.bill_pdf__tbl__head__row {
  background-color: #c0c0c0;
  height: 1.2rem;
}

.bill_pdf__tbl__head__row__item {
  border: solid 1px;
}

.bill_pdf__tbl__body {
  border: solid 1px;
}

.bill_pdf__tbl__body__row,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__bottom {
  height: 1.5rem;
}

.bill_pdf__tbl__body__row__item,
.bill_pdf__tbl__body__row .bill_pdf__tbl__body__row__item__right,
.bill_pdf__tbl__body__row .bill_pdf__tbl__body__row__item__right--period,
.bill_pdf__tbl__body__row .bill_pdf__tbl__body__row__item__right--time,
.bill_pdf__tbl__body__row .bill_pdf__tbl__body__row__item__left,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__item__right,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__item__right--period,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__item__right--time,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__item--left,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__bottom .bill_pdf__tbl__body__row__item__right,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__bottom .bill_pdf__tbl__body__row__item__right--period,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__bottom .bill_pdf__tbl__body__row__item__right--time,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__bottom .bill_pdf__tbl__body__row__item--left {
  border-right: solid 1px;
  border-bottom: dotted 1px;
}

.bill_pdf__tbl__body__row__item__right {
  padding-left: 1rem;
}

.bill_pdf__tbl__body__row__item__right--period {
  padding-left: 2rem;
}

.bill_pdf__tbl__body__row__item__right--time {
  padding-left: 3rem;
}

.bill_pdf__tbl__body__row__item--left {
  padding-right: 5px;
  text-align: right;
}

.bill_pdf__tbl__body__row__bottom__item,
.bill_pdf__tbl__body__row__bottom .bill_pdf__tbl__body__row__bottom__item--right,
.bill_pdf__tbl__body__row__bottom .bill_pdf__tbl__body__row__bottom__item--left,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__bottom__item--right,
.bill_pdf__tbl__body .bill_pdf__tbl__body__row__bottom__item--left {
  border: solid 1px;
}

.bill_pdf__tbl__body__row__bottom__item--right {
  padding-left: 1rem;
  font-weight: bold;
}

.bill_pdf__tbl__body__row__bottom__item--left {
  padding-right: 5px;
  text-align: right;
}

.bill_pdf__footer {
  margin-top: 3rem;
  line-height: 1.2rem;
  font-size: .8rem;
}

.bill_pdf__footer__limit--right {
  float: left;
  width: 5rem;
}

.bill_pdf__footer__limit--left {
  padding-left: 2rem;
}

.bill_pdf__footer__bank--right {
  float: left;
  width: 5rem;
}

.bill_pdf__footer__bank--left {
  padding-left: 2rem;
}

.bill_pdf__footer__fee {
  font-size: .6rem;
}

.bill_pdf__footer__tbl {
  float: left;
  width: 85%;
  border-collapse: collapse;
  font-size: .8rem;
}

.bill_pdf__footer__tbl__head__row {
  line-height: 2rem;
}

.bill_pdf__footer__tbl__head__row__item {
  border: solid 1px;
  background-color: #bee6db;
  width: 4rem;
}

.bill_pdf__footer__tbl__head__row__item--blank {
  border: solid 1px;
  width: 7rem;
}

.bill_pdf__footer__tbl__head__row__item--blank2 {
  border: solid 1px;
  width: 9rem;
}

.bill_pdf__footer__tbl__head__row2 {
  line-height: 2rem;
}

.bill_pdf__footer__tbl__head__row2__item {
  border: solid 1px;
  background-color: #bee6db;
}

.bill_pdf__footer__tbl__head__row2__item--blank2 {
  border: solid 1px;
}

.bill_pdf__footer__seal {
  border: solid 1px;
  padding: 27px 2.3rem 29px;
  line-height: 70px;
}
