= I18n.t("mail.client.assignment.message", user: @user.name, name: @approval.name)
= I18n.t("mail.client.assignment.message2")
= link_to client_show_url(client_id: @approval.approved_id).to_s, client_show_url(client_id: @approval.approved_id)

|---

= I18n.t("mail.client.assignment.company")