.admin_users {
  /*** variables **************************************************************/
  /****************************************************************************/

  padding: $base-spacing;
  background-color: $white-bg-color;
  color: $white-ft-color
}
