.approval_new {
  /*** variables **************************************************************/
  /****************************************************************************/

  background-color: $white-bg-color;
  padding: $base-spacing;
  color: $white-ft-color;

  &__form {
    @include outer-container;

    &__container {
      @include row;

      &__group {
        @include span-columns(6);
      }
    }

    &__item {
      margin-bottom: $small-spacing;

      &__area {
        @include span-columns(12);
        margin-bottom: $small-spacing;
        height: 300px;
      }

      &__file {
        border-bottom: $base-border;
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;

        &__input {
          display: none;
        }

        &__item {

          margin: .4rem;
          box-shadow: $form-box-shadow;
          background-color: $base-bg-color;
          padding-left: .6em;

          width: 100%;
          height: 2rem;

          font-family: $base-font-family;
          font-size: $base-font-size;
          box-sizing: border-box;

          &.hidden {
            display: none;
          }
        }

        &__drop_container {
          padding-top: 20px;

          &.over {
            label {
              $label_bg: #adadad;
              background: $label_bg;
            }
          }

          label {
            $label_color: #666666;
            $label_boder_color: #adaaaa;

            display: block;
            border: 1px dashed $label_boder_color;
            cursor: pointer;
            padding: 2rem;
            text-align: center;
            color: $label_color;

            &:hover {
              $label_hover_color: #f1f1f1;
              background: $label_hover_color;
            }

            .small {
              $p_small: #878787;
              padding-top: 1rem;
              color: $p_small;
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    &__btn {
      &--file_delete,
      &--file_new {
        @include btn--default;
        padding: $small-spacing;
      }

      &--cancel {
        @include btn--default;
      }

      &--repeat {
        @include btn--default;
        float: right;
      }

      &--submit {
        @include btn--primary;
        width: 130px;
      }

      &--trash {
        @include btn--default;
        float: right;
        width: 30px;
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
}
