.approval_new {
  /*** variables **************************************************************/
  /****************************************************************************/

  background-color: $white-bg-color;
  padding: $base-spacing;
  color: $white-ft-color;

  &__form {
    @include outer-container;

    &__container {
      @include row;

      &__group {
        @include span-columns(6);
      }
    }

    &__item {
      margin-bottom: $small-spacing;

      &__area {
        @include span-columns(12);
        margin-bottom: $small-spacing;
        height: 300px;
      }

      &__file {
        border-bottom: $base-border;
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
        &__drop_container {
          padding-top: 20px;
          &.over{
            label{
              background: #adadad;
            }
          }
          label{
            color: #666;
            display: block;

            padding: 2rem;
            border: 1px dashed #adaaaa;
            text-align: center;
            &:hover{
              background: #f1f1f1;
            }
            p.small{
              color: #878787;
              font-size: 1.4rem;
              padding-top: 1rem;
            }
          }
        }
      }
    }

    &__btn {
      &--file_delete,
      &--file_new {
        @include btn--default;
        padding: $small-spacing;
      }

      &--cancel {
        @include btn--default;
      }

      &--submit {
        @include btn--primary;
        width: 130px;
      }
    }
  }
}
