.bill_show {
  /*** variables **************************************************************/
  /****************************************************************************/

  background-color: $white-bg-color;
  padding: $base-spacing;
  color: $white-ft-color;

  &__top_menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__indicator {
    padding-top: 1rem;
    font-size: $small-font-size * .9;

    a {
      color: $grey;
    }
  }

  &__last_updated_at {
    padding-right: 1rem;
    text-align: right;
  }

  .approval_show__detail__approval_user_list__tbl {
    margin-bottom: 3rem;

    &__body__row {
      margin: .5rem 0;
    }
  }

  .bill_show__details {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2rem;
  }

  .bill_show_approval_actions_container {
    padding: 0 1rem;
    width: 50%;
  }

  &__form {
    @include outer-container;
    width: 50%;

    &__container {
      @include row;
    }

    &__item {
      margin-right: 5rem;
      margin-bottom: $small-spacing;

      #{$all-text-inputs-disabled},
      select:disabled,
      textarea:disabled {
        border-bottom: $base-border;
        border-radius: 0;
        border-top-color: $white-bg-color;
        border-right-color: $white-bg-color;
        border-left-color: $white-bg-color;
        box-shadow: none;
        background-color: $white-bg-color;
        width: 100%;
      }

      a {
        border-bottom: $base-border;
        padding-left: .8rem;
        width: 100%;
      }
    }

    &__btn {
      &--edit,
      &--cancel,
      &--submit,
      &--issue,
      &--download,
      &--delete {
        @include btn--primary;
      }

      &--approve {
        border: solid 2px $active-action-color;
        background-color: $active-action-color;
        height: 2.5rem;
        color: $white;

        &:hover,
        &:focus {
          transition: .4s;
          text-shadow: -6px 0 15px #fffff0d4, 6px 0 15px #fffff0d4;
        }
      }

      &--sent_back {
        $disconfirm_back: #c9c9c9;
        border: solid 2px $black;
        background-color: $disconfirm_back;
        height: 2.5rem;
        color: $black;

        &:hover,
        &:focus {
          background-color: $light-grey;
          color: $white;
        }
      }
    }

    &__member_list {
      @include span-columns(6);

      &__partner {
        @include list_tbl;

        &__head {
          @include list_tbl__head__row;
          border-color: $white-bg-color;

          &__title {
            float: left;
          }

          &__member_btn {
            &--new_partner {
              @include btn--primary;
              float: right;
            }
          }
        }

        &__list {
          &__tbl {
            @include list_tbl;

            &__head {
              &__row {
                @include list_tbl__head__row;
              }
            }

            &__body {
              @include list_tbl__body;
              &__row {
                @include list_tbl__body__row;

                #{$all-text-inputs-disabled},
                select:disabled,
                textarea:disabled {
                  border-bottom: $base-border;
                  border-radius: 0;
                  border-color: $white-bg-color;
                  box-shadow: none;
                  background-color: $white-bg-color;
                }

                &--selected {
                  @include list_tbl__body__row;
                  background-color: $yellow;

                  #{$all-text-inputs-disabled},
                  select:disabled,
                  textarea:disabled {
                    border-bottom: $base-border;
                    border-radius: 0;
                    border-color: $yellow-bg-color;
                    box-shadow: none;
                    background-color: $yellow-bg-color;
                  }
                }
              }
            }
          }
        }

        &__item {
          &--name {
            @include span-columns(3);
            &--non_edit {
              display: table-cell;
            }
          }

          &--unit_price {
            @include span-columns(2);
          }

          &--working_rate {
            @include span-columns(3);
          }

          &--min_limit_time {
            @include span-columns(2);
          }

          &--max_limit_time {
            @include span-columns(2);
          }
        }
      }

      &__user {
        margin-top: 5rem;

        &__tbl {
          @include list_tbl;

          &__head {
            &__row {
              @include list_tbl__head__row;
            }
          }

          &__body {
            @include list_tbl__body;

            &__row,
            %user_member_list__tbl__body__row {
              @include list_tbl__body__row;
              font-size: $base-font-size;

              &--selected {
                @extend %user_member_list__tbl__body__row;
                background-color: $yellow;
              }
            }
          }

          &__item,
          %user_member_list__tbl__item {
            @include list_tbl__item;

            &--name {
              @extend %user_member_list__tbl__item;
              @include span-columns(4);
            }

            &--email {
              @extend %user_member_list__tbl__item;
              @include span-columns(8);
            }
          }
        }
      }

      &__add_user_member {
        @include display(flex);

        &__list {
          flex: 1;
        }

        &__btn {
          &--submit {
            @include btn--primary;
          }
        }

        &__user_btn {
          &--delete {
            @include btn--primary;
          }
        }
      }

      &__add_partner_member {
        @include display(flex);

        &__form {
          &__list,
          &__item {
            flex: 1;
          }
        }

        &__btn {
          @include btn--primary;
          width: 100%;
        }
      }

      &__partner_btn {
        &--delete,
        &--edit,
        &--cancel,
        &--submit {
          @include btn--default;
        }
      }
    }
  }
}
