.bill_show {
  /*** variables **************************************************************/
  /****************************************************************************/

  background-color: $white-bg-color;
  padding: $base-spacing;
  color: $white-ft-color;

  &__top_menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__indicator {
    padding-top: 1rem;
    font-size: $small-font-size * .9;

    a {
      color: $grey;
    }
  }

  &__last_updated_at {
    padding-right: 1rem;
    text-align: right;
  }

  .approval_show__detail__approval_user_list__tbl {
    margin-bottom: 2rem;

    &__body__row {
      margin: .5rem 0;
    }

    .money {
      text-align: right;
    }

    .non_edit {
      font-weight: bold;
    }

    .non_edit,
    .computed {
      padding: .4rem .6rem;
    }
  }

  .approval_show__detail__approval_user_list__item--approval_user_btn {
    width: .5rem;
    text-align: center;

    button {
      margin: 0;
      padding: 0;
    }
  }

  .bill_show__details {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2rem;
  }

  .bill_show_approval_actions_container {
    padding: 0 1rem;
    width: 50%;

    th {
      margin: 0;
      border-bottom: none;
      background-color: $light-grey-bg-color;
      padding: .4rem .6rem;
    }

    tr {
      margin: 0;
      height: 2.5rem;
    }

    .section_title {
      margin-bottom: 1rem;
      font-size: large;
      font-weight: bold;
    }

    .button_wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: .5rem;
    }

    .bill_show__detail__form {
      &__matching_sum,
      &__mismatching_sum {
        margin-bottom: 1rem;
        border-radius: .5rem;
        padding: .7rem;
      }

      &__matching_sum {
        border: solid 1px $light-green-color;
        background-color: $pale-green-bg-color;
        color: $green;
      }

      &__mismatching_sum {
        border: solid 1px $light-red-color;
        background-color: $pale-red-bg-color;
        color: $red;
      }

      &__actions {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
      }
    }

    .approval_show__detail__approval_user_list__item--approval_user_btn {
      margin: 0;
      padding: 0;
    }

    input:disabled {
      border-top-color: $white-bg-color;
      border-right-color: $white-bg-color;
      border-bottom-color: $white-bg-color;
      border-left-color: $white-bg-color;
      box-shadow: none;
    }
  }

  &__form {
    @include outer-container;
    width: 50%;

    &__container {
      @include row;
    }

    &__item {
      margin-right: 5rem;
      margin-bottom: $small-spacing;

      #{$all-text-inputs-disabled},
      select:disabled,
      textarea:disabled {
        border-bottom: $base-border;
        border-radius: 0;
        border-top-color: $white-bg-color;
        border-right-color: $white-bg-color;
        border-left-color: $white-bg-color;
        box-shadow: none;
        background-color: $white-bg-color;
        width: 100%;
      }

      a {
        border-bottom: $base-border;
        padding-left: .8rem;
        width: 100%;
      }
    }

    &__btn {
      &--edit,
      &--submit,
      &--detail-update,
      &--issue,
      &--download {
        @include btn--primary;
      }

      &--detail-update {
        height: 2.5rem;
      }

      &--approve {
        border: solid 2px $active-action-color;
        background-color: $active-action-color;
        height: 2.5rem;
        color: $white;

        &:hover,
        &:focus {
          transition: .4s;
          text-shadow: -6px 0 15px #fffff0d4, 6px 0 15px #fffff0d4;
        }
      }

      &--cancel,
      &--detail-cancel,
      &--delete,
      &--sent_back {
        $disconfirm_back: #686868;
        border: solid 2px $disconfirm_back;
        height: 2.5rem;
        color: $disconfirm_back;

        &:hover,
        &:focus {
          background-color: $light-grey;
          color: $white;
        }
      }
    }
  }
}
