.body {
  /*** variables **************************************************************/
  $body-sidemenu-whight: 180px;
  /****************************************************************************/
  @include display(flex);
  @include justify-content(stretch);

  .body__sidemenu {
    @include flex(0 0 $body-sidemenu-whight);
    background-color: $light-black-bg-color;
    color: $light-black-ft-color;
  }
  .body__main {
    @include flex(1);
    background-color: $white-bg-color;
    color: $white-ft-color;
  }
}
