.client_list {

  padding: $base-spacing;

  &__search {
    margin-bottom: $base-spacing;
  }

  &__tbl {
    @include list_tbl;

    &__head {
      &__row {
        @include list_tbl__head__row;
      }
    }

    &__body {
      @include list_tbl__body;

      &__row {
        @include list_tbl__body__row;
        cursor: pointer;

        &:hover {
          background-color: $theme-lighen-color;
        }
      }
    }

    &__item,
    %client_list__tbl__item {
      @include list_tbl__item;

      &--cd {
        @extend %client_list__tbl__item;
        @include span-columns(1.5);
      }

      &--company_name {
        @extend %client_list__tbl__item;
        @include span-columns(2.5);
      }

      &--department_name {
        @extend %client_list__tbl__item;
        @include span-columns(2.5);
      }

      &--status {
        @extend %client_list__tbl__item;
        @include span-columns(1.5);
      }

      &--phone_number {
        @extend %client_list__tbl__item;
        @include span-columns(2);
      }
    }
  }

  &__btn {
    &--new_client {
      @include btn--primary;
    }
  }
}
