.expense_new {
  /*** variables **************************************************************/
  /****************************************************************************/


  &__outer {
    @include modal__outer;
    padding-top: 5em;

    &__inner {
      @include modal__outer__inner--large;

      &__title {
        @include modal__outer__inner__title;
      }

      &__body {
        @include modal__outer__inner__body;
      }
    }
  }

  &__form {
    @include outer-container;

    &__container {
      @include row;

      &__group {
        @include span-columns(6);
      }
    }

    &__item {
      margin-bottom: $small-spacing;

      &__area {
        margin-bottom: $small-spacing;
        height: 100px;
      }

      &__file {
        border-bottom: $base-border;
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
      }
    }

    &__img {
      @include span-columns(12);
    }
  }
}
