.expense_history {
  /*** variables **************************************************************/
  /****************************************************************************/


  &__outer {
    @include modal__outer;
    padding-top: 5em;

    &__inner {
      @include modal__outer__inner;
      width: 70%;

      &__title {
        @include modal__outer__inner__title;
      }

      &__body {
        @include modal__outer__inner__body;
      }
    }
  }

  &__form {
    @include outer-container;
    &__container {
      @include row;
      &__group {
        @include span-columns(6);
      }
    }

    &__item,
    %expense_history__form__item {
      margin-bottom: $small-spacing;

    }

    &__add_btn {
      @include btn--primary;
    }
  }

  &__search {
    margin-bottom: $base-spacing;

    &__item {
      @include display(flex);
      margin-bottom: $base-spacing;

      &__field {
        margin-right: 2%;
        width: 24%;
      }

      &__btn {
        @include btn--primary;
        margin: $base-spacing 0 0 3%;
      }
    }
  }
}
