.expense_new {
    /*** variables **************************************************************/
    /****************************************************************************/

  background-color: $white-bg-color;
  padding: $base-spacing;
  color: $white-ft-color;

  &__form {
    @include outer-container;

    &__container {
      @include row;

      &__group {
        @include span-columns(6);
      }

      &__group2 {
        @include span-columns(1.25);
      }

      &__group3 {
        @include span-columns(5);
      }

      &__group4 {
        @include span-columns(.75);
      }
    }

    &__item {
      margin-bottom: $small-spacing;

      &__area {
        margin-bottom: $small-spacing;
        height: 100px;
      }

      &__file {
        border-bottom: $base-border;
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
      }

      &__check_box {
        display: none;
      }
    }

    &__fill {
      @include display(flex);

      &--select {
        @include flex(1);
      }

      &--btn {
        &--set_project {
          @include btn--default;
          margin-top: $base-spacing;
          height: 2.5rem;
        }
      }
    }

    &__btn {
      &--file_delete,
      &--file_new {
        @include btn--default;
        padding: $small-spacing;
      }

      &--cancel {
        @include btn--default;
      }

      &--repeat {
        @include btn--primary;
        float: right;
      }

      &--submit {
        @include btn--primary;
        width: 130px;
      }

      &--arrow,
      &--search {
        @include btn--primary;
        display: block;
        margin: auto;
        padding: .6em 1em;
        text-align: center;
      }
    }

    &__img {
      @include span-columns(12);
    }
  }
}
