.expense_csv {

  padding: $base-spacing;

  &__search {

    &__date {
      @include display(flex);
      margin-bottom: $base-spacing;

      &__start {
        @include span-columns(3);
        padding-right: 1rem;
      }

      &__end {
        @include span-columns(3);
        margin-top: $base-spacing;
        padding-right: 1rem;
      }

      &__btn {
        @include span-columns(3);
        padding-right: 1rem;

        &--search,
        &--csv {
          @include btn--primary;
          margin-top: $base-spacing;
        }
      }
    }
  }

  &__tbl {
    @include list_tbl;

    &__head {
      &__row {
        @include list_tbl__head__row;
        font-size: small;
      }
    }

    &__body {
      @include list_tbl__body;

      &__row {
        @include list_tbl__body__row;
        cursor: pointer;

        &:hover {
          background-color: $theme-lighen-color;
        }

        &--finished {
          border-bottom: $bold-border;
          background-color: $light-grey;
        }
      }
    }

    &__item,
    %project_list__tbl__item {
      @include list_tbl__item;
      padding: .5rem;
      word-break: break-word;
      white-space: normal;

      &--use_date {
        @extend %project_list__tbl__item;
        @include span-columns(1);
      }

      &--default_id {
        @extend %project_list__tbl__item;
        @include span-columns(1);
      }

      &--content {
        @extend %project_list__tbl__item;
        @include span-columns(2);
      }

      &--is_receipt {
        width: 30px;
      }

      &--amount {
        @extend %project_list__tbl__item;
        @include span-columns(1);
      }
    }
  }
}
