.file_list {
  margin-top: $base-spacing;

  &__menu {
    @include display(flex);
    list-style-type: none;
  }

  &__group_new {
    @include display(flex);

    &__field {
      min-width: 19rem;
      max-width: 30rem;
    }

    &__btn {
      @include btn--default;
    }
  }

  &__refresh {
    &__btn {
      @include btn--default;
    }
  }

  &__group_update {
    @include dropdown;

    &__btn {
      @include btn--default;
    }

    &__content {
      @include dropdown__content;
      width: 30rem;

      &__btn {
        @include btn--default;
      }
    }
  }

  &__tbl {
    @include list_tbl;

    &__head {
      &__row {
        @include list_tbl__head__row;
      }
    }

    &__body {
      @include list_tbl__body;
      &__row,
      %file_list__tbl__body__row {
        @include list_tbl__head__row;

        &--selected {
          @extend %file_list__tbl__body__row;
          background-color: $yellow;
        }
      }
    }

    &__item,
    %file_list__tbl__item {
      @include list_tbl__item;

      &--name {
        @extend %file_list__tbl__item;
        @include span-columns(10);

        input {
          margin-right: $base-spacing;
        }

        span {
          @include badge--primary;
          margin-left: $base-spacing;
        }
      }

      &--size {
        @extend %file_list__tbl__item;
        @include span-columns(2);
        text-align: right;
      }
    }
  }
}
