.header {
  /*** variables **************************************************************/
  $header-height: 50px;
  $header-logo-whight: 180px;
  /****************************************************************************/

  @include display(flex);

  background-color: $black-bg-color;
  height: $header-height;
  color: $black-ft-color;

  &__delete_confirm_message {
    display: none;
  }

  &__logo {
    @include flex(0 0 $header-logo-whight);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: $theme-bg-color;
    color: $theme-ft-color;
    font-weight: bold;

    &__img {
      width: auto;
      height: $header-height;
    }
  }

  &__title {
    @include flex(1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-start);
    @include padding(null $base-spacing);
  }

  &__menu {
    @include flex(2);
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    @include padding(null $base-spacing);

    &__list {
      @include display(flex);
      &__item {
        margin-left: $base-spacing;
        list-style-type: none;
      }
    }

    &__link {
      @include transition(all .2s ease-out);
      color: $black-ft-color;
      &:hover { color: $theme-color; }
    }
  }
}
