.partner_member_list {
  /*** variables **************************************************************/
  /****************************************************************************/

  &__tbl {
    @include list_tbl;

    &__head {
      &__row {
        @include list_tbl__head__row;
      }
    }

    &__body {
      @include list_tbl__body;
      &__row,
      %partner_member_list__tbl__body__row {
        @include list_tbl__body__row;

        &--selected {
          @extend %partner_member_list__tbl__body__row;
          background-color: $yellow;
        }
      }
    }

    &__item,
    %partner_member_list__tbl__item {
      @include list_tbl__item;

      &--cd {
        @extend %partner_member_list__tbl__item;
        @include span-columns(1);
      }

      &--name {
        @extend %partner_member_list__tbl__item;
        @include span-columns(2);
      }

      &--email {
        @extend %partner_member_list__tbl__item;
        @include span-columns(2);
        @include word-wrap;
      }

      &--company_name {
        @extend %partner_member_list__tbl__item;
        @include span-columns(2);
      }

      &--unit_price {
        @extend %partner_member_list__tbl__item;
        @include span-columns(1);
      }

      &--working_rate {
        @extend %partner_member_list__tbl__item;
        @include span-columns(2);
      }

      &--min_limit_time {
        @extend %partner_member_list__tbl__item;
        @include span-columns(1);
      }

      &--max_limit_time {
        @extend %partner_member_list__tbl__item;
        @include span-columns(1);
      }
    }
  }

  &__add_member {
    @include display(flex);

    &__list {
      flex: 1;
    }

    &__form {
      &__item {
        flex: 1;
      }
    }

    &__btn {
      @include btn--primary;
    }
  }

  &__btn {
    &--new_partner,
    &--delete {
      @include btn--primary;
    }
  }
}
