.partner_show {
  padding: $base-spacing;

  &__form {
    @include outer-container;

    &__item {
      margin-bottom: $small-spacing;

      #{$all-text-inputs-disabled},
      select:disabled,
      textarea:disabled {
        border-bottom: $base-border;
        border-radius: 0;
        border-top-color: $white-bg-color;
        border-right-color: $white-bg-color;
        border-left-color: $white-bg-color;
        box-shadow: none;
        background-color: $white-bg-color;
      }
    }

    &__legend {
      @include display(flex);
      @include align-items(center);
      @include justify-content(space-between);

      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
      border-bottom: $bold-border;
      width: 100%;
      height: 50px;
      font-size: $base-font-size * 1.1;
      font-weight: bold;
    }

    &__btn {
      @include btn--default;

      &_link_to_list {
        @include btn--default;
        margin-bottom: 1rem;
      }
    }
  }
}
