.partner_member_list {
  /*** variables **************************************************************/
  /****************************************************************************/

  &__tbl {
    @include list_tbl;
    margin-top: 22px;

    &__head {
      &__row {
        @include list_tbl__head__row;
      }
    }

    &__body {
      @include list_tbl__body;

      &__row {
        @include list_tbl__body__row;

        #{$all-text-inputs-disabled},
        select:disabled,
        textarea:disabled {
          border-bottom: $base-border;
          border-radius: 0;
          border-color: $white-bg-color;
          box-shadow: none;
          background-color: $white-bg-color;
        }

        &--selected {
          @include list_tbl__body__row;
          background-color: $yellow;

          #{$all-text-inputs-disabled},
          select:disabled,
          textarea:disabled {
            border-bottom: $base-border;
            border-radius: 0;
            border-color: $yellow-bg-color;
            box-shadow: none;
            background-color: $yellow-bg-color;
          }
        }
      }
    }

    &__item {
      &--name {
        @include span-columns(2);
        &--non_edit {
          display: table-cell;
        }
      }

      &--email {
        @include span-columns(6);
        @include word-wrap;
      }

      &--company_name {
        @include span-columns(4);
      }
    }
  }

  &__add_member {
    @include display(flex);

    &__list {
      flex: 1;
    }

    &__form {
      &__item {
        flex: 1;
      }
    }

    &__btn {
      @include btn--primary;
      width: 100%;
      }
    }

  &__btn {
    &--edit,
    &--cancel,
    &--submit {
      @include btn--default;
    }
  }
}
