.project_list {

  padding: $base-spacing;

  &__search {
    padding-top: $base-spacing;

    &__radio {
      margin-bottom: $base-spacing;
    }

    &__date {
      @include display(flex);
      margin-bottom: $base-spacing;

      &__start {
        @include span-columns(3);
      }

      &__end {
        @include span-columns(3);
      }

      &__btn {
        @include span-columns(3);

        &--search,
        &--new_project {
          @include btn--primary;
          margin-top: $base-spacing;
        }
      }
    }
  }

  &__tbl {
    @include list_tbl;

    &__head {
      &__row {
        @include list_tbl__head__row;
      }
    }

    &__body {
      @include list_tbl__body;

      &__row {
        @include list_tbl__body__row;
        cursor: pointer;

        &:hover {
          background-color: $theme-lighen-color;
        }

        &--finished {
          border-bottom: $bold-border;
          background-color: $light-grey;
        }
      }
    }

    &__item,
    %project_list__tbl__item {
      @include list_tbl__item;

      &--status {
        @extend %project_list__tbl__item;
        @include span-columns(3);
        text-align: center;
      }

      &--cd {
        @extend %project_list__tbl__item;
        @include span-columns(2);
      }

      &--project_name {
        @extend %project_list__tbl__item;
        @include span-columns(4);
      }

      &--orderer_company {
        @extend %project_list__tbl__item;
        @include span-columns(4);
      }

      &--start_on {
        @extend %project_list__tbl__item;
        @include span-columns(2);
      }

      &--end_on {
        @extend %project_list__tbl__item;
        @include span-columns(2);
      }

      &--contract_on {
        @extend %project_list__tbl__item;
        @include span-columns(2);
      }

      &--amount {
        @include span-columns(2);
        padding-right: 4rem;
        text-align: right;
      }
    }
  }
}
