.project_show {
  /*** variables **************************************************************/
  /****************************************************************************/

  background-color: $white-bg-color;
  padding: $base-spacing;
  color: $white-ft-color;

  &__menu_bar {
    margin-bottom: $base-spacing;

    &__list {
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include align-items(stretch);
      @include justify-content(flex-start);
    }

    &__item,
    %project_show__menu_bar__item {
      @include padding($base-spacing $small-spacing);
      color: $white-ft-color;
      list-style-type: none;

      &--active {
        @extend %project_show__menu_bar__item;
        color: $theme-color;
      }
    }
  }

  &__content {
    &--transition {
      @include transition(all .2s ease-out);
    }

    &--enter,
    &--leave {
      opacity: 0;
    }
  }
}
