.project_show {
  /*** variables **************************************************************/
  /****************************************************************************/

  padding: $base-spacing;
  background-color: $white-bg-color;
  color: $white-ft-color;

  &__menu_bar {
    margin-bottom: $base-spacing;

    &__list {
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include align-items(stretch);
      @include justify-content(flex-start);
    }

    &__item {
      @include padding($base-spacing $small-spacing);
      list-style-type: none;
      color: $white-ft-color;

      &--active {
        @extend .project_show__menu_bar__item;
        color: $theme-color;
      }
    }
  }

  &__content--transition {
    @include transition(all .2s ease-out);
  }
  &__content--enter, &__content--leave {
    opacity: 0;
  }
}
