.project_list {

  padding: $base-spacing;

  &__tbl {
    @include outer-container;
    border-collapse: collapse;
    text-align: left;

    &__head {
      &__row {
        @include row(table);
        border-bottom: $bold-border;
      }
    }

    &__body {
      font-size: $small-font-size;
      &__row {
        @include row(table);
        border-bottom: $base-border;
        cursor: pointer;

        &:hover {
          background-color: $theme-lighen-color;
        }
      }
    }

    &__item {
      @include padding($small-spacing $base-spacing $small-spacing);

      &--key {
        @extend .project_list__tbl__item;
        @include span-columns(2);
      }
      &--project_name {
        @extend .project_list__tbl__item;
        @include span-columns(2);
      }
      &--orderer_company {
        @extend .project_list__tbl__item;
        @include span-columns(2);
      }
      &--start_on {
        @extend .project_list__tbl__item;
        @include span-columns(2);
      }
      &--end_on {
        @extend .project_list__tbl__item;
        @include span-columns(2);
      }
      &--contract_on {
        @extend .project_list__tbl__item;
        @include span-columns(2);
      }
    }
  }
}
